.cell {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cell:hover {
    background-color: lightgray;
}


.coin {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.red {
    background-color: red;
    transform: scale(1);
}

.yellow {
    background-color: yellow;
    transform: scale(1);
}
