
.board {
    background-color: blue;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4);
}

.row {
    display: flex;
    gap: 8px;
}