.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.row {
    display: flex;
    gap: 15px;
}

.row > div {
    flex: 1;
}

.form label {
    font-size: 0.9rem;
    color: #ccc;
}

.form input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
    font-size: 1rem;
}

.form input:focus {
    outline: none;
    border-color: #646cff;
}

.error {
    color: #ff4136;
    font-size: 0.8rem;
    margin: 0;
    height: 15px;
}

.saveBtn {
    background-color: #2ea043;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

.saveBtn:hover {
    background-color: #2c974b;
    border-color: #2c974b;
}